<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Raleway:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://unpkg.com/vue@3"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>List-VueJs</title>
</head>
<body>
  <header><img src="img/logo.png" alt=""></header>
  
  <div class="container" id="app">

    <div>
      <input @keyup.enter="addNewTask()" type="text" placeholder="Scrivi un'attività" v-model="newTask">
      <button @click="addNewTask()" id="add-task">Aggiungi</button>
    </div>
    <h4 id="error-msg">{{myErrorMsg}}</h4>

    <ol v-if="tasks.length > 0">
      <li v-for="(task, index) in tasks" @click="doneTask(index)" :class="{'done-task' : task.done}">
        <span>{{task.activity}}</span>
        <i class="fa-regular fa-circle-xmark" @click.stop="removeTask(index)"></i>
      </li>
    </ol>

    <div v-else class="all-completed">
      <h3>Hai completato tutti i task!<br>Puoi goderti un po' di relax.</h3>
      <img src="img/woman-relaxing.webp" alt="">
    </div>
     
  
  </div>

  <footer><img src="img/cdbee.png" alt="dbee" title="bzzzz"></footer>
  

  <script src="js/script.js"></script>
</body>
</html>